{% extends "layout.html" %}
{% block body_content %}
<br>
<div class="form">
	<form method="POST" action="">
		<br>
		<div class='form_group'> 
			{{ form.countryID.label }}
			{{ form.countryID }}
			{% if form.countryID.errors %}
				<div class='error'>
					{% for error in form.countryID.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>
		<div class='form_group'> 
			{{ form.countryName.label }}
			{{ form.countryName }}
			{% if form.countryName.errors %}
				<div class='error'>
					{% for error in form.countryName.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>
		<div class='form_group'>
			{{ form.capital.label }}
			{{ form.capital }}
			{% if form.capital.errors %}
				<div class='error'>
					{% for error in form.capital.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>
		<div class='form_group'> 
			{{ form.continantID.label }}
			{{ form.continantID }}
			{% if form.continantID.errors %}
				<div class='error'>
					{% for error in form.continantID.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>
		<div class='form_group'> 
			{{ form.continant.label }}
			{{ form.continant }}
			{% if form.continant.errors %}
				<div class='error'>
					{% for error in form.continant.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>		
		{{ form.submit }}
	</form>
</div>
{% endblock body_content %}