<!DOCTYPE html>

<html>

<head>
	<title>{{ title }} - Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
	.body{
		background-color: #008080;
		color: #FFFFFF;
	}
	.bodya {
		padding-left: 30px;
		font-family: monospace;
		font-size: 20px
	}
	.footer{
		display:block;
		background-color: #086363;
		text-align: center;
		font-size: 12px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
</style>

<body class="body">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{{ url_for('home') }}">
			<img src="static/earth.jpg" alt="Earth"class="rounded right" height="30", width="30", class="d-inline-block align-top", alt="">
			GTW
		</a>
		<div class= "collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				{% if current_user.is_authenticated %}
					<a class="nav-link" href="{{ url_for('search') }}">Search</a>
					<a class="nav-link" href="{{ url_for('add') }}">Add</a>
					<a class="nav-link" href="{{ url_for('logs') }}">Admin Logs</a>
					<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
				{% else %}
					<a class="nav-link" href="{{ url_for('countryquiz') }}">Country Quiz</a>
					<a class="nav-link" href="{{ url_for('capital') }}">Capital Quiz</a>
					<a style= "text-align: right; "class="nav-link" href="{{ url_for('login') }}">Login</a>
				{% endif %}
			</ul>
		</div>
	</nav>
	<div class="bodya">
		{% block body_content %}{% endblock %}
	</div>
</body>
<div  class="footer">	
	<footer>
		<span>I'm sorry JetPunk for stealing your quiz</span>
	</footer>
</div>
</html>
